* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    padding: 0 6.4vw;
    background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}

section {
    margin-bottom: 50px;
}
/* Title ============================================ */
h2{
    font-weight: 700;
    text-align: center;
    font-size: 2.2rem;
    color: hsl(300, 43%, 22%);
    margin-top: 80px;
    margin-bottom: 1.6rem;
    
}
/* Paragraph ============================================ */
.about {
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
/* RATED ================================================== */
.rated {
    text-align: center;
    background: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 1.3rem 0;
    margin-bottom: 16px;
}
.rated span {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.rated .stars{
    margin-bottom: 1rem;
}


/* Avaliation =============================================== */
.avaliation {
    background: hsl(300, 43%, 22%);
    padding: 2.6rem 2.1rem;
    margin-bottom: 16px;
    border-radius: 10px;
}
/* Profile ================================================ */
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;     
    width: 175px;
} 
.info .name{
    color: white;
    font-weight: 700;
}
.info .verify{
    color: hsl(333, 80%, 67%);
    font-size: .8rem;
    font-weight: 400;
}
.profile img {
    border-radius: 50%;
    width: 47px;
}
.avaliation p {
    color: white;
    font-weight: 400;
    font-size: 1rem;

    margin-top: 30px;
}