* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    padding: 0 6.4vw;
    background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
    background-position: left top, bottom center;
    background-repeat: no-repeat, no-repeat;
}

section {
    margin-bottom: 50px;
}
/* Title ============================================ */
h2{
    font-weight: 700;
    text-align: center;
    font-size: 2.2rem;
    color: hsl(300, 43%, 22%);
    margin-top: 80px;
    margin-bottom: 1.6rem;
    
}
/* Paragraph ============================================ */
.about {
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
/* RATED ================================================== */
.rated {
    text-align: center;
    background: hsl(300, 24%, 96%);
    border-radius: 5px;
    max-width: 445px;
    padding: 1.3rem 0;
    margin: auto;
    margin-bottom: 16px;
}
.rated span {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.rated .stars{
    margin-bottom: 1rem;
}


/* Avaliation =============================================== */
.avaliation {
    background: hsl(300, 43%, 22%);
    padding: 2.6rem 2.1rem;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 10px;
    max-width: 350px;

}
/* Profile ================================================ */
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;     
    width: 175px;
} 
.info .name{
    color: white;
    font-weight: 700;
}
.info .verify{
    color: hsl(333, 80%, 67%);
    font-size: .8rem;
    font-weight: 400;
}
.profile img {
    border-radius: 50%;
    width: 47px;
}
.avaliation p {
    color: white;
    font-weight: 400;
    font-size: 1rem;

    margin-top: 30px;
}
@media(min-width: 1100px)
{
    body{
        position: relative;
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom center;
    }
    h2{
        font-size: 4rem;
        width: 600px;
        text-align: left;
        margin-bottom: 5px;
    }
    .about{
        font-size: 1.2rem;
        width: 600px;
        font-weight: 400;
        text-align: left;
        line-height: 2rem;
    }
    .star-rated{
        width: 540px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 122px;
        top: 10px;
    }
    .rated{
        width: 445px;
        margin-left: 0;
        margin-right: 0;
    }
    .rated .stars{
        display: inline;
    }
    #review{
        align-self: flex-start;
    }
    #guru{
        align-self: center;
    }
    #bestech{
        align-self: flex-end;
    }
    .avaliation-container{
        display: flex;
        justify-content: space-around;
        height: 336px;
    }
    #av1{
        align-self: flex-start;
    }
    #av2{
        align-self: center;
    }
    #av3{
        align-self: flex-end;
    }
    .avaliation{
        margin: 0;
    }
    
}